html {
	//font-size: 1em;
	overflow-x: hidden;
}

body {
	height:100vh;
	width: 100vw;
	color: #fff;
	background-color: #403935;
	font-family: Dosis-Regular;
}

.boule-tete {
	display:none;
	position:absolute;
}

.ligneNoir{
	/*barrenoir  */
	width:100%;
	height:3px;
	position: absolute;
	margin-bottom: 0px;
	/*
	background : -moz-linear-gradient(19.28% 20.74% -24.41deg,rgba(177, 168, 154, 1) 0%,rgba(173, 164, 151, 1) 29.6%,rgba(161, 154, 142, 1) 59.75%,rgba(140, 136, 128, 1) 90.08%,rgba(132, 129, 122, 1) 100%);
	background : -webkit-linear-gradient(-24.41deg, rgba(177, 168, 154, 1) 0%, rgba(173, 164, 151, 1) 29.6%, rgba(161, 154, 142, 1) 59.75%, rgba(140, 136, 128, 1) 90.08%, rgba(132, 129, 122, 1) 100%);
	background : -webkit-gradient(linear,19.28% 20.74% ,84.44% 82.8% ,color-stop(0,rgba(177, 168, 154, 1) ),color-stop(0.296,rgba(173, 164, 151, 1) ),color-stop(0.5975,rgba(161, 154, 142, 1) ),color-stop(0.9008,rgba(140, 136, 128, 1) ),color-stop(1,rgba(132, 129, 122, 1) ));
	background : -o-linear-gradient(-24.41deg, rgba(177, 168, 154, 1) 0%, rgba(173, 164, 151, 1) 29.6%, rgba(161, 154, 142, 1) 59.75%, rgba(140, 136, 128, 1) 90.08%, rgba(132, 129, 122, 1) 100%);
	background : -ms-linear-gradient(-24.41deg, rgba(177, 168, 154, 1) 0%, rgba(173, 164, 151, 1) 29.6%, rgba(161, 154, 142, 1) 59.75%, rgba(140, 136, 128, 1) 90.08%, rgba(132, 129, 122, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B1A89A', endColorstr='#84817A' ,GradientType=0)";
	background : linear-gradient(114.41deg, rgba(177, 168, 154, 1) 0%, rgba(173, 164, 151, 1) 29.6%, rgba(161, 154, 142, 1) 59.75%, rgba(140, 136, 128, 1) 90.08%, rgba(132, 129, 122, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B1A89A',endColorstr='#84817A' , GradientType=1);
	*/	
	
	background : -moz-linear-gradient(0% 50% 0deg,rgba(192, 185, 174, 1) 0%,rgba(188, 181, 170, 1) 24.95%,rgba(176, 170, 160, 1) 50.37%,rgba(155, 151, 143, 1) 75.93%,rgba(129, 126, 120, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(192, 185, 174, 1) 0%, rgba(188, 181, 170, 1) 24.95%, rgba(176, 170, 160, 1) 50.37%, rgba(155, 151, 143, 1) 75.93%, rgba(129, 126, 120, 1) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(192, 185, 174, 1) ),color-stop(0.2495,rgba(188, 181, 170, 1) ),color-stop(0.5037,rgba(176, 170, 160, 1) ),color-stop(0.7593,rgba(155, 151, 143, 1) ),color-stop(1,rgba(129, 126, 120, 1) ));
	background : -o-linear-gradient(0deg, rgba(192, 185, 174, 1) 0%, rgba(188, 181, 170, 1) 24.95%, rgba(176, 170, 160, 1) 50.37%, rgba(155, 151, 143, 1) 75.93%, rgba(129, 126, 120, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(192, 185, 174, 1) 0%, rgba(188, 181, 170, 1) 24.95%, rgba(176, 170, 160, 1) 50.37%, rgba(155, 151, 143, 1) 75.93%, rgba(129, 126, 120, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0B9AE', endColorstr='#817E78' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(192, 185, 174, 1) 0%, rgba(188, 181, 170, 1) 24.95%, rgba(176, 170, 160, 1) 50.37%, rgba(155, 151, 143, 1) 75.93%, rgba(129, 126, 120, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0B9AE',endColorstr='#817E78' , GradientType=1);
	
	/**/
	
}


#section1 {
	background-color: #b1a99c;
	width: 100vw;
	height: 100hw;
	margin: 0;
}

/*MB. Cree section2 jousqu a section16. Chaque page a ses propres attributes(couleur, etc)*/
 #section2 {			
	/*background-image:linear-gradient(to right,  #b1a89a, #84817a);	*/
	width: 100%;
	height: 100%;
	margin: 0;
	
	/*visibility: hidden; */
	background : -moz-linear-gradient(19.28% 20.74% -24.41deg,rgba(177, 168, 154, 1) 0%,rgba(173, 164, 151, 1) 29.6%,rgba(161, 154, 142, 1) 59.75%,rgba(140, 136, 128, 1) 90.08%,rgba(132, 129, 122, 1) 100%);
	background : -webkit-linear-gradient(-24.41deg, rgba(177, 168, 154, 1) 0%, rgba(173, 164, 151, 1) 29.6%, rgba(161, 154, 142, 1) 59.75%, rgba(140, 136, 128, 1) 90.08%, rgba(132, 129, 122, 1) 100%);
	background : -webkit-gradient(linear,19.28% 20.74% ,84.44% 82.8% ,color-stop(0,rgba(177, 168, 154, 1) ),color-stop(0.296,rgba(173, 164, 151, 1) ),color-stop(0.5975,rgba(161, 154, 142, 1) ),color-stop(0.9008,rgba(140, 136, 128, 1) ),color-stop(1,rgba(132, 129, 122, 1) ));
	background : -o-linear-gradient(-24.41deg, rgba(177, 168, 154, 1) 0%, rgba(173, 164, 151, 1) 29.6%, rgba(161, 154, 142, 1) 59.75%, rgba(140, 136, 128, 1) 90.08%, rgba(132, 129, 122, 1) 100%);
	background : -ms-linear-gradient(-24.41deg, rgba(177, 168, 154, 1) 0%, rgba(173, 164, 151, 1) 29.6%, rgba(161, 154, 142, 1) 59.75%, rgba(140, 136, 128, 1) 90.08%, rgba(132, 129, 122, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B1A89A', endColorstr='#84817A' ,GradientType=0)";
	background : linear-gradient(114.41deg, rgba(177, 168, 154, 1) 0%, rgba(173, 164, 151, 1) 29.6%, rgba(161, 154, 142, 1) 59.75%, rgba(140, 136, 128, 1) 90.08%, rgba(132, 129, 122, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B1A89A',endColorstr='#84817A' , GradientType=1);
			
}





#section3 {		
	/*background-image :linear-gradient(to right,  #81887f, #a8baaa);*/		
	width: 100%;
	height: 100%;
	margin: 0;
	/*visibility: hidden;*/
	background : -moz-linear-gradient(82.07% -9.37% -140.37deg,rgba(129, 136, 127, 1) 0%,rgba(140, 147, 137, 1) 13.61%,rgba(160, 167, 157, 1) 46.03%,rgba(168, 175, 164, 1) 67.56%,rgba(168, 186, 170, 1) 100%);
	background : -webkit-linear-gradient(-140.37deg, rgba(129, 136, 127, 1) 0%, rgba(140, 147, 137, 1) 13.61%, rgba(160, 167, 157, 1) 46.03%, rgba(168, 175, 164, 1) 67.56%, rgba(168, 186, 170, 1) 100%);
	background : -webkit-gradient(linear,82.07% -9.37% ,41.95% 64.91% ,color-stop(0,rgba(129, 136, 127, 1) ),color-stop(0.1361,rgba(140, 147, 137, 1) ),color-stop(0.4603,rgba(160, 167, 157, 1) ),color-stop(0.6756,rgba(168, 175, 164, 1) ),color-stop(1,rgba(168, 186, 170, 1) ));
	background : -o-linear-gradient(-140.37deg, rgba(129, 136, 127, 1) 0%, rgba(140, 147, 137, 1) 13.61%, rgba(160, 167, 157, 1) 46.03%, rgba(168, 175, 164, 1) 67.56%, rgba(168, 186, 170, 1) 100%);
	background : -ms-linear-gradient(-140.37deg, rgba(129, 136, 127, 1) 0%, rgba(140, 147, 137, 1) 13.61%, rgba(160, 167, 157, 1) 46.03%, rgba(168, 175, 164, 1) 67.56%, rgba(168, 186, 170, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#81887F', endColorstr='#A8BAAA' ,GradientType=0)";
	background : linear-gradient(230.37deg, rgba(129, 136, 127, 1) 0%, rgba(140, 147, 137, 1) 13.61%, rgba(160, 167, 157, 1) 46.03%, rgba(168, 175, 164, 1) 67.56%, rgba(168, 186, 170, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81887F',endColorstr='#A8BAAA' , GradientType=1);
}

#section4 {	
	/*background-image: linear-gradient(to right, #91877c, #777066);*/	
	width: 100%;
	height: 100%;
	margin: 0;	
	/*visibility: hidden;*/
	background : -moz-linear-gradient(60.19% 92.06% 113.24deg,rgba(119, 112, 102, 1) 0%,rgba(142, 132, 122, 1) 89.93%,rgba(145, 135, 124, 1) 100%);
	background : -webkit-linear-gradient(113.24deg, rgba(119, 112, 102, 1) 0%, rgba(142, 132, 122, 1) 89.93%, rgba(145, 135, 124, 1) 100%);
	background : -webkit-gradient(linear,60.19% 92.06% ,46.51% 35.61% ,color-stop(0,rgba(119, 112, 102, 1) ),color-stop(0.8993,rgba(142, 132, 122, 1) ),color-stop(1,rgba(145, 135, 124, 1) ));
	background : -o-linear-gradient(113.24deg, rgba(119, 112, 102, 1) 0%, rgba(142, 132, 122, 1) 89.93%, rgba(145, 135, 124, 1) 100%);
	background : -ms-linear-gradient(113.24deg, rgba(119, 112, 102, 1) 0%, rgba(142, 132, 122, 1) 89.93%, rgba(145, 135, 124, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#777066', endColorstr='#91877C' ,GradientType=0)";
	background : linear-gradient(-23.24deg, rgba(119, 112, 102, 1) 0%, rgba(142, 132, 122, 1) 89.93%, rgba(145, 135, 124, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777066',endColorstr='#91877C' , GradientType=1);
}
#section5 {	
	/*background-image:linear-gradient(to right, #c1a583, #856a48);*/
	width: 100%;
	height: 100%;
	margin: 0;
	/*visibility: hidden;*/
	/* background-image: url(objets/bg_p5_haut2.svg);*/
}

.backDiv5 {
	/*background-image: url(../objets/bg_p5_haut.svg) no-repeat;*/
	background : /*url(../objets/bg_p5_haut.svg) no-repeat, */-moz-linear-gradient(87.62% -4.23% -152.4deg,rgba(133, 106, 72, 1) 0%,rgba(139, 112, 78, 1) 23.27%,rgba(157, 130, 96, 1) 55.69%,rgba(187, 159, 125, 1) 93.34%,rgba(193, 165, 131, 1) 100%);
	background : /*url(../objets/bg_p5_haut.svg) no-repeat, */-webkit-linear-gradient(-152.4deg, rgba(133, 106, 72, 1) 0%, rgba(139, 112, 78, 1) 23.27%, rgba(157, 130, 96, 1) 55.69%, rgba(187, 159, 125, 1) 93.34%, rgba(193, 165, 131, 1) 100%);
	background : /*url(../objets/bg_p5_haut.svg) no-repeat, */-webkit-gradient(linear,87.62% -4.23% ,33.71% 73.49% ,color-stop(0,rgba(133, 106, 72, 1) ),color-stop(0.2327,rgba(139, 112, 78, 1) ),color-stop(0.5569,rgba(157, 130, 96, 1) ),color-stop(0.9334,rgba(187, 159, 125, 1) ),color-stop(1,rgba(193, 165, 131, 1) ));
	background : /*url(../objets/bg_p5_haut.svg) no-repeat, */-o-linear-gradient(-152.4deg, rgba(133, 106, 72, 1) 0%, rgba(139, 112, 78, 1) 23.27%, rgba(157, 130, 96, 1) 55.69%, rgba(187, 159, 125, 1) 93.34%, rgba(193, 165, 131, 1) 100%);
	background : /*url(../objets/bg_p5_haut.svg) no-repeat, */-ms-linear-gradient(-152.4deg, rgba(133, 106, 72, 1) 0%, rgba(139, 112, 78, 1) 23.27%, rgba(157, 130, 96, 1) 55.69%, rgba(187, 159, 125, 1) 93.34%, rgba(193, 165, 131, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#856A48', endColorstr='#C1A583' ,GradientType=0)";
	background : /*url(../objets/bg_p5_haut.svg) no-repeat, */linear-gradient(242.4deg, rgba(133, 106, 72, 1) 0%, rgba(139, 112, 78, 1) 23.27%, rgba(157, 130, 96, 1) 55.69%, rgba(187, 159, 125, 1) 93.34%, rgba(193, 165, 131, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#856A48',endColorstr='#C1A583' , GradientType=1);
}

#section6 {	
	/*background-image:linear-gradient(to right, #c1a583, #856a48);*/
	width: 100%;
	height: 100%;
	margin: 0;
	/*visibility: hidden;*/
	background : -moz-linear-gradient(111.17% -15.36% -155.2deg,rgba(133, 106, 72, 1) 0%,rgba(139, 112, 78, 1) 23.27%,rgba(157, 130, 96, 1) 55.69%,rgba(187, 159, 125, 1) 93.34%,rgba(193, 165, 131, 1) 100%);
	background : -webkit-linear-gradient(-155.2deg, rgba(133, 106, 72, 1) 0%, rgba(139, 112, 78, 1) 23.27%, rgba(157, 130, 96, 1) 55.69%, rgba(187, 159, 125, 1) 93.34%, rgba(193, 165, 131, 1) 100%);
	background : -webkit-gradient(linear,111.17% -15.36% ,49.3% 50.75% ,color-stop(0,rgba(133, 106, 72, 1) ),color-stop(0.2327,rgba(139, 112, 78, 1) ),color-stop(0.5569,rgba(157, 130, 96, 1) ),color-stop(0.9334,rgba(187, 159, 125, 1) ),color-stop(1,rgba(193, 165, 131, 1) ));
	background : -o-linear-gradient(-155.2deg, rgba(133, 106, 72, 1) 0%, rgba(139, 112, 78, 1) 23.27%, rgba(157, 130, 96, 1) 55.69%, rgba(187, 159, 125, 1) 93.34%, rgba(193, 165, 131, 1) 100%);
	background : -ms-linear-gradient(-155.2deg, rgba(133, 106, 72, 1) 0%, rgba(139, 112, 78, 1) 23.27%, rgba(157, 130, 96, 1) 55.69%, rgba(187, 159, 125, 1) 93.34%, rgba(193, 165, 131, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#856A48', endColorstr='#C1A583' ,GradientType=0)";
	background : linear-gradient(245.2deg, rgba(133, 106, 72, 1) 0%, rgba(139, 112, 78, 1) 23.27%, rgba(157, 130, 96, 1) 55.69%, rgba(187, 159, 125, 1) 93.34%, rgba(193, 165, 131, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#856A48',endColorstr='#C1A583' , GradientType=1);
}
#section7 {	
	/*background-image:linear-gradient(to right, #88847d, #b8b1a6);*/
	width: 100%;
	height: 100%;
	margin: 0;
	/*visibility: hidden;*/
	background : -moz-linear-gradient(1174.55% 96.07% 113.24deg,rgba(136, 132, 125, 1) 0%,rgba(159, 154, 145, 1) 52.12%,rgba(184, 177, 166, 1) 100%);
	background : -webkit-linear-gradient(113.24deg, rgba(136, 132, 125, 1) 0%, rgba(159, 154, 145, 1) 52.12%, rgba(184, 177, 166, 1) 100%);
	background : -webkit-gradient(linear,1174.55% 96.07% ,1162.27% 34.24% ,color-stop(0,rgba(136, 132, 125, 1) ),color-stop(0.5212,rgba(159, 154, 145, 1) ),color-stop(1,rgba(184, 177, 166, 1) ));
	background : -o-linear-gradient(113.24deg, rgba(136, 132, 125, 1) 0%, rgba(159, 154, 145, 1) 52.12%, rgba(184, 177, 166, 1) 100%);
	background : -ms-linear-gradient(113.24deg, rgba(136, 132, 125, 1) 0%, rgba(159, 154, 145, 1) 52.12%, rgba(184, 177, 166, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#88847D', endColorstr='#B8B1A6' ,GradientType=0)";
	background : linear-gradient(-23.24deg, rgba(136, 132, 125, 1) 0%, rgba(159, 154, 145, 1) 52.12%, rgba(184, 177, 166, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88847D',endColorstr='#B8B1A6' , GradientType=1);
}
#section8 {
	background-color: #8a122f;
	width: 100%;
	height: 100%;
	margin: 0;
	visibility: hidden;
}
#section9 {
	background-color: #2f822f;
	width: 100%;
	height: 100%;
	margin: 0;
	visibility: hidden;
}
#section10 {
	background-color: #8a512f;
	width: 100%;
	height: 100%;
	margin: 0;
	visibility: hidden;
}
#section11 {
	background-color: #8e332a;
	width: 100%;
	height: 100%;
	margin: 0;
	visibility: hidden;
}

#section12 {   /*page contact */
	background-color: #403935;
	width: 100vw;
	height: 100hw;
	margin: 0;
}

.div100Relative {
	height:100%;
	position:relative;
}

.bottomDiv {	
	position: absolute;	
	width: 100%;
	bottom: 0px;
	left:0px;
}



.bottomDiv2 {
	
	height: 22%;
	position: absolute;
	margin-bottom: 0px; 	
	background : -moz-linear-gradient(78.28% -35.34% -156deg,rgba(129, 136, 127, 1) 0%,rgba(133, 140, 131, 1) 31.82%,rgba(145, 152, 142, 1) 64.25%,rgba(166, 173, 162, 1) 96.86%,rgba(168, 175, 164, 1) 100%);
	background : -webkit-linear-gradient(-156deg, rgba(129, 136, 127, 1) 0%, rgba(133, 140, 131, 1) 31.82%, rgba(145, 152, 142, 1) 64.25%, rgba(166, 173, 162, 1) 96.86%, rgba(168, 175, 164, 1) 100%);
	background : -webkit-gradient(linear,78.28% -35.34% ,47.74% 56.81% ,color-stop(0,rgba(129, 136, 127, 1) ),color-stop(0.3182,rgba(133, 140, 131, 1) ),color-stop(0.6425,rgba(145, 152, 142, 1) ),color-stop(0.9686,rgba(166, 173, 162, 1) ),color-stop(1,rgba(168, 175, 164, 1) ));
	background : -o-linear-gradient(-156deg, rgba(129, 136, 127, 1) 0%, rgba(133, 140, 131, 1) 31.82%, rgba(145, 152, 142, 1) 64.25%, rgba(166, 173, 162, 1) 96.86%, rgba(168, 175, 164, 1) 100%);
	background : -ms-linear-gradient(-156deg, rgba(129, 136, 127, 1) 0%, rgba(133, 140, 131, 1) 31.82%, rgba(145, 152, 142, 1) 64.25%, rgba(166, 173, 162, 1) 96.86%, rgba(168, 175, 164, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#81887F', endColorstr='#A8AFA4' ,GradientType=0)";
	background : linear-gradient(246deg, rgba(129, 136, 127, 1) 0%, rgba(133, 140, 131, 1) 31.82%, rgba(145, 152, 142, 1) 64.25%, rgba(166, 173, 162, 1) 96.86%, rgba(168, 175, 164, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81887F',endColorstr='#A8AFA4' , GradientType=1);
}

.bottomDiv3 {
	height: 30%;
	background : -moz-linear-gradient(48.09% 116.69% 80.92deg,rgba(145, 135, 124, 1) 0%,rgba(136, 130, 122, 1) 65.12%,rgba(129, 126, 120, 1) 100%);
	background : -webkit-linear-gradient(80.92deg, rgba(145, 135, 124, 1) 0%, rgba(136, 130, 122, 1) 65.12%, rgba(129, 126, 120, 1) 100%);
	background : -webkit-gradient(linear,48.09% 116.69% ,50.84% 20.53% ,color-stop(0,rgba(145, 135, 124, 1) ),color-stop(0.6512,rgba(136, 130, 122, 1) ),color-stop(1,rgba(129, 126, 120, 1) ));
	background : -o-linear-gradient(80.92deg, rgba(145, 135, 124, 1) 0%, rgba(136, 130, 122, 1) 65.12%, rgba(129, 126, 120, 1) 100%);
	background : -ms-linear-gradient(80.92deg, rgba(145, 135, 124, 1) 0%, rgba(136, 130, 122, 1) 65.12%, rgba(129, 126, 120, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#91877C', endColorstr='#817E78' ,GradientType=0)";
	background : linear-gradient(9.08deg, rgba(145, 135, 124, 1) 0%, rgba(136, 130, 122, 1) 65.12%, rgba(129, 126, 120, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91877C',endColorstr='#817E78' , GradientType=1);
}

.bottomDiv4 {
	height: 10%;
	background : -moz-linear-gradient(48.04% 291.82% 82.62deg,rgba(192, 185, 174, 1) 0%,rgba(188, 181, 170, 1) 24.95%,rgba(176, 170, 160, 1) 50.37%,rgba(155, 151, 143, 1) 75.93%,rgba(129, 126, 120, 1) 100%);
	background : -webkit-linear-gradient(82.62deg, rgba(192, 185, 174, 1) 0%, rgba(188, 181, 170, 1) 24.95%, rgba(176, 170, 160, 1) 50.37%, rgba(155, 151, 143, 1) 75.93%, rgba(129, 126, 120, 1) 100%);
	background : -webkit-gradient(linear,48.04% 291.82% ,50.78% -46.62% ,color-stop(0,rgba(192, 185, 174, 1) ),color-stop(0.2495,rgba(188, 181, 170, 1) ),color-stop(0.5037,rgba(176, 170, 160, 1) ),color-stop(0.7593,rgba(155, 151, 143, 1) ),color-stop(1,rgba(129, 126, 120, 1) ));
	background : -o-linear-gradient(82.62deg, rgba(192, 185, 174, 1) 0%, rgba(188, 181, 170, 1) 24.95%, rgba(176, 170, 160, 1) 50.37%, rgba(155, 151, 143, 1) 75.93%, rgba(129, 126, 120, 1) 100%);
	background : -ms-linear-gradient(82.62deg, rgba(192, 185, 174, 1) 0%, rgba(188, 181, 170, 1) 24.95%, rgba(176, 170, 160, 1) 50.37%, rgba(155, 151, 143, 1) 75.93%, rgba(129, 126, 120, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0B9AE', endColorstr='#817E78' ,GradientType=0)";
	background : linear-gradient(7.38deg, rgba(192, 185, 174, 1) 0%, rgba(188, 181, 170, 1) 24.95%, rgba(176, 170, 160, 1) 50.37%, rgba(155, 151, 143, 1) 75.93%, rgba(129, 126, 120, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0B9AE',endColorstr='#817E78' , GradientType=1);
}

.bottomDiv5 {
	height: 27%;

}

.bottomDiv6 {
	height: 30%;
	background : -moz-linear-gradient(59.15% 1169.61% 113.24deg,rgba(136, 132, 125, 1) 0%,rgba(159, 154, 145, 1) 52.12%,rgba(184, 177, 166, 1) 100%);
	background : -webkit-linear-gradient(113.24deg, rgba(136, 132, 125, 1) 0%, rgba(159, 154, 145, 1) 52.12%, rgba(184, 177, 166, 1) 100%);
	background : -webkit-gradient(linear,59.15% 1169.61% ,46.87% 1025.88% ,color-stop(0,rgba(136, 132, 125, 1) ),color-stop(0.5212,rgba(159, 154, 145, 1) ),color-stop(1,rgba(184, 177, 166, 1) ));
	background : -o-linear-gradient(113.24deg, rgba(136, 132, 125, 1) 0%, rgba(159, 154, 145, 1) 52.12%, rgba(184, 177, 166, 1) 100%);
	background : -ms-linear-gradient(113.24deg, rgba(136, 132, 125, 1) 0%, rgba(159, 154, 145, 1) 52.12%, rgba(184, 177, 166, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#88847D', endColorstr='#B8B1A6' ,GradientType=0)";
	background : linear-gradient(-23.24deg, rgba(136, 132, 125, 1) 0%, rgba(159, 154, 145, 1) 52.12%, rgba(184, 177, 166, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88847D',endColorstr='#B8B1A6' , GradientType=1);
}

.bottomDiv7 {
	height: 25%;
	background : -moz-linear-gradient(1173.29% -109.25% -106.89deg,rgba(135, 125, 112, 1) 0%,rgba(139, 129, 115, 1) 37.65%,rgba(151, 140, 125, 1) 75.96%,rgba(163, 150, 135, 1) 100%);
	background : -webkit-linear-gradient(-106.89deg, rgba(135, 125, 112, 1) 0%, rgba(139, 129, 115, 1) 37.65%, rgba(151, 140, 125, 1) 75.96%, rgba(163, 150, 135, 1) 100%);
	background : -webkit-gradient(linear,1173.29% -109.25% ,1164.92% 59.72% ,color-stop(0,rgba(135, 125, 112, 1) ),color-stop(0.3765,rgba(139, 129, 115, 1) ),color-stop(0.7596,rgba(151, 140, 125, 1) ),color-stop(1,rgba(163, 150, 135, 1) ));
	background : -o-linear-gradient(-106.89deg, rgba(135, 125, 112, 1) 0%, rgba(139, 129, 115, 1) 37.65%, rgba(151, 140, 125, 1) 75.96%, rgba(163, 150, 135, 1) 100%);
	background : -ms-linear-gradient(-106.89deg, rgba(135, 125, 112, 1) 0%, rgba(139, 129, 115, 1) 37.65%, rgba(151, 140, 125, 1) 75.96%, rgba(163, 150, 135, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#877D70', endColorstr='#A39687' ,GradientType=0)";
	background : linear-gradient(196.89deg, rgba(135, 125, 112, 1) 0%, rgba(139, 129, 115, 1) 37.65%, rgba(151, 140, 125, 1) 75.96%, rgba(163, 150, 135, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#877D70',endColorstr='#A39687' , GradientType=1);
}

#language {
	cursor: pointer;
	position: absolute;
	right: 25px;
	z-index: 50;
	visibility: hidden;
	font-size: 1.250em;
}

#bonhommeSection1 {
	cursor: pointer;
	position: absolute;
	left: 50px;
	bottom: 30px;
	z-index: 25000;
}

#bonhommeSection2 {
	cursor: pointer;
	position: relative; 
	left: 50px;
	bottom: 2%; 
	z-index: 25000;
}

#bonhommeContact {
	//background-color: lightblue;
	height: 80vh;
	margin-top: 5%;
}

#contactDetails {
	//background-color: lightsteelblue;
	height: 80vh;
	padding: 0;
	margin-top: 5%;
}

.bonhommeContactImg {
	position: absolute;
	top: 25%;
	left: 30%;
	/*transform: translate(-50%, -50%);*/
}

#cellContact {
	position: absolute;
	visibility: hidden;
}

.bouleNewNumeroTelephone {
	position: absolute;
	visibility: hidden;
	width: 250px;
}

.nuage1 {
	position: absolute;
	display: none;
	width: 50px;
}

.nuage2 {
	position: absolute;
	display: none;
	width: 100px;
}

.nuage3 {
	position: absolute;
	display: none;
}


#slide3 {
	margin: 0;
	position: relative;
	//background-color: red;
	text-align: center;
}

.form-control::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	font-weight: 700;
	color: #403935;
}
.form-control:-moz-placeholder, textarea:-moz-placeholder { 
	font-weight: 700;
	color: #403935;
}
.form-control::-moz-placeholder, textarea::-moz-placeholder { 
	font-weight: 700;
	color: #403935;
}
.form-control:-ms-input-placeholder, textarea:-ms-input-placeholder { 
	font-weight: 700;
	color: #403935;
}

#contactName {
	margin: 0 auto;
}

#contactEmail {
	margin: 0 auto;
}

#contactArea {
	margin: 0 auto;
}

#pensee_1 {
	width:50px;
	visibility:hidden; 
}

#pensee_2 {
	width:100px;
	visibility:hidden; 
}

#pensee_3 {
	width:300px;
	visibility:hidden; 
}

.ocius-btn {
	background-color: #f4901f;
	color: #685D57;
}

.ocius-btn:hover {
	color: #403935;
}

#submitBtn {					
	//width: 50%;
	margin: 0 auto;
	//padding: 8px 12px;
}

.inputT {
	outline: none;
	box-shadow: none;
	position: relative;
	background-color: transparent;
	color: #f4901f;
	border-left: #606060;
    border-top: #606060;
	border-style: none;
	border-bottom-style: solid;
	border-right-style: solid;
	border-bottom-color: #f4901f;
	border-right-color: #f4901f;
	//border-right: #606060;
	resize: none; 
	width: 60%;
	//margin-left: 10%;
	min-width: 200px;
	max-width: 80%;
	font-size: 1em; 
}

.inputT:focus, .inputT:hover {
	outline: none;
	box-shadow: 2px 2px 1px #f4901f;
	background-color: #555;
	border-color: #f4901f;
}

#carte {	
	top: 5%;
	//background-color: yellow;
}

#map {
	width: 600px;
	height: 300px;
	margin: 0 auto;
	border-radius: 3px;
}

img, object, embed, canvas, video, audio, picture {
       max-width: 100%;
       height: auto;
	   _width: 100%;
}


.vcenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#tabletteImg {
	margin-top: 200px;
}

#cellImg {
	margin-top: 150px;
	margin-left: 150px;
}

.overflowHidden {
	 overflow:hidden;
	 position:relative;
}

.centerHorizontaly {
	margin: 0 auto;
}

.ocius-btn {
	background-color: #f4901f;
	margin-bottom: 20px;
}

.ocius-h1-first-page {
}

.ocius-h2-first-page {
	visibility:visible;
}

#ocius-div-h1-first-page {
	z-index: 10000;
	position:absolute;
	display: block;
	text-align: center;
	width: 96.5%;
	left: 2%;
	top: 20px;
}

#ocius-div-h2-first-page {
	z-index: 10000;
	position:absolute;
	display: block;
	text-align: center;
	width: 90%;
	left: 6%;
	bottom: 10px;
}

#numeroTel {
	color: #f4901f;
	width: 40%;
	margin: 0 auto;	
}

#copyright {
	//background-color: lightblue;
	text-align: center;
	color: #f4901f;
	width: 25%;
	//margin: 0 auto;
	position: relative; 
	left: 37.5%;
	bottom:5%;
}

/* ----- Desktop ----- */

@media only screen 
  and (min-width: 992px) {
	body {
		font-size: 1.25em;
	}
	.inputT {
		max-width: 70%;
		font-size: 1.5em;
	}
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 991px) {
	body {
		font-size: 1.25em;
	}
	.inputT {
		max-width: 50%;
		font-size: 1.188em;
	}
	#slide3 {
		background-color: transparent;
		color: yellow;
	}
	map {
		width: 320px;
		height: 240px;
		//float: right;
		margin: 0 auto;
	}
}

@media only screen  
  and (max-width: 767px)
  and (min-width: 601px)  {
	body {
		font-size: 1em;
	}
	.inputT {
		max-width: 50%;
		font-size: 1.250em;
	}
	#slide3 {
		background-color: transparent;
		color: white;
	}
	#map {
		width: 200px;
		height: 150px;
	}
}

@media only screen 
  and (max-width: 600px)
  and (min-width: 300px)  {
	body {
		font-size: 0.875em;
	}
	.inputT {
		max-width: 60%;
		font-size: 1.25em;
	}
	#slide3 {
		background-color: transparent;
	}
	#map {
		width: 200px;
		height: 140px;
	}
}

@media only screen 
  and (max-width: 300px) {
	body {
		font-size: 0.75em;
	}
	.inputT {
		max-width: 70%;
	}
	#slide3 {
		background-color: transparent;
	}
	#map {
		width: 120px;
		height: 80px;
	}
}

.bgP5 {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}